<section>
    <mat-card style="margin:20px">
        <mat-card-content>
            <!-- formulario -->
            <form>
                <mat-form-field style="width:100%">
                    <input matInput placeholder="Enter your name"
                    [(ngModel)]="name1" name='anyname1'>
                </mat-form-field>
                <mat-form-field style="width:100%">
                    <input matInput placeholder="Enter your name"
                    [(ngModel)]="name2" name='anyname2'>
                </mat-form-field>
            </form>
            <!-- formulario -->
        </mat-card-content>
        <!-- ação -->
        <mat-card-actions>
            Nome 1: {{name1}}
            <hr>
            Nom 2: {{name2}}
        </mat-card-actions>
        <!-- ação -->
    </mat-card>
</section>

<section>
    <mat-card style="margin:20px">
        <mat-card-title>
            Cliente
        </mat-card-title>
        <mat-card-content>
            <!-- formulario -->
            <form>
                <mat-form-field style="width:100%">
                    <input matInput placeholder="First Name" name="firstname"
                    [(ngModel)]="cliente.firstName">
                </mat-form-field>
                <mat-form-field style="width:100%">
                    <input matInput placeholder="Last Name" name="lastname"
                    [(ngModel)]="cliente.lastName">
                </mat-form-field>
                <mat-form-field style="width:100%">
                    <input matInput placeholder="Address" name="address"
                    [(ngModel)]="cliente.address">
                </mat-form-field>
                <mat-form-field style="width:100%">
                    <input matInput placeholder="Age" type="number" name="age"
                    [(ngModel)]="cliente.age">
                </mat-form-field>
            </form>
            <!-- formulario -->
        </mat-card-content>
        <!-- ação -->
        <mat-card-actions>
            <p>Name: {{cliente.firstName}}</p>
            <p>Last Name: {{cliente.lastName}}</p>
            <p>Address: {{cliente.address}}</p>
            <p>Age: {{cliente.age}}</p>
        </mat-card-actions>
        <!-- ação -->
    </mat-card>
</section>


