<p>
  property-binding works!
</p>

<!-- que ele interprete o que está dentro da aspas como algo pra ser lido -->
<button mat-button [color]="color">FirstButton</button>

<button mat-button [disabled]="btnDisabled">My second button</button>

<!-- button que fica trocando de cores -->
<button mat-button [color]="colors[idx]">My last button</button>