<!-- <app-string-interpolation></app-string-interpolation> -->

<!-- <app-property-binding></app-property-binding> -->

<!-- <app-event-binding></app-event-binding> -->

<app-two-way-data-biding></app-two-way-data-biding>