<mat-card class="mycard">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Person data</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>firstname: {{person.firstname}}</p>
    <p>lastName: {{person.lastName}}</p>
    <p>age: {{person.age}}</p>
    <p>address: {{person.address}}</p>

    <form>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" value="{{person.firstname}}">
      </mat-form-field>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>