<p>
  event-binding works!
</p>

<section>
  <button mat-button color="primary" (click)="save()">Save</button>
  <button mat-button color="warn" (click)="inc()">{{buttonName}}</button>
</section>


<section>
  <button mat-button color="primary" [disabled]='!btnEnable'>My button</button>
  
  <button mat-button color="warn" [disabled]='!btnEnable'>My button 2</button>
  
  <button mat-button color="warn" (click)="disable()"
  [disabled]='!btnEnable'>Disable</button>
  
  <mat-progress-spinner
  color="primay"
  [mode]="spinnerMode"
  [value]="valor">
</mat-progress-spinner>

</section>

<section>
  <p>
    <mat-checkbox color="warn" (change)="cbChange($event)">Disable / Enable</mat-checkbox>
  </p>
  
  <p>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Cars</mat-label>
          
          <mat-select matNativeControl required
          [disabled]="selectDisable" (selectionChange)="selectionChange($event)">
          <mat-option value="1">Volvo</mat-option>
          <mat-option value="2">Saab</mat-option>
          <mat-option value="3">Mercedes</mat-option>
          <mat-option value="4">Audi</mat-option>
        </mat-select>
        
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <p>Selection options {{selectedOption}}</p>
    </mat-card-actions>
  </mat-card>
</p>

</section>
<mat-divider></mat-divider>
<section>
  <mat-card>
    <mat-card-content>
      
      <mat-form-field>
        <input matInput placeholder="First Name"
        (input)="inputName = $event.target.value"
        [value]="inputName">
      </mat-form-field>
      
    </mat-card-content>
    <mat-card-actions>
      Name: {{inputName}}
    </mat-card-actions>
  </mat-card>
</section>